/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*********** HEADER STYLES **********/
body {
  width: 100%;
  background-color: #1f1a17;
  font-family: Arial, Helvetica, sans-serif; }

header {
  background-color: #d8352c;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  z-index: 20;
  box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5);
  -webkit-box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5);
  -moz-box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5); }
  header div {
    z-index: inherit;
    font-size: 2.3em;
    width: 15%;
    padding-left: 2%; }
    header div .fa-bars {
      color: white;
      margin: 15px auto 0 auto;}
header div .fa-times  {
color: black;
margin: 15px auto 0 auto;
transition: 1s all;}
  header figure#logo {
    z-index: inherit;
    margin-left: 2%;
    margin-top: 5px;
    width: 40%;
    padding-top: 0;
    height: 50px; }
    header figure#logo #logo {
      padding-left: 75px; }
  header figure#userID {
    z-index: inherit;
    display: inline-block;
    width: 40%; }
    header figure#userID img#passport {
      z-index: inherit;
      float: right;
      margin: 20px 2% 0 10px; }
    header figure#userID #role {
      z-index: inherit;
      text-align: right;
      margin-top: 10px;
      padding: 10px 10px 0 0;
      font-size: .9em;
      color: white;
      text-decoration: underline; }
    header figure#userID #username {
      z-index: inherit;
      text-align: right;
      margin-top: 5px;
      font-size: .7em;
      padding: 0 10px 10px 0;
      color: white; }
  header nav {
    background-color: rgba(14, 13, 13, 0.808);
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 60px;
    z-index: 10; }
    header nav ul li {
      display: inherit;
      margin-right: 10px; }
    header nav ul li a {
      display: inherit;
      text-align: left;
      margin-left: 2%;
      text-decoration: none;
      padding: .5rem 2%;
      color: white;
      border-bottom: solid 1px white; }
    header nav ul li.active a {
      background-color: #0093dd; }
    header nav ul.closed {
      display: none; }

/*********** MAIN STYLES **********/
main {
  margin: auto auto; }
  main .search-box-top {
    margin-top: 0;
    width: 95%;
    height: 40px;
    background: #0093dd;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    z-index: 18;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 7px; }
    main .search-box-top input[type=text] {
      width: 85%;
      font-size: 20px; }
    main .search-box-top .fa-search {
      width: 10%;
      font-size: 25px;
      margin-left: 5px;
      float: right;
      color: white; }
  main .asset-container {
    background-color: white;
    z-index: 4;
    border-radius: 10px;
    padding: 5px;
    border-style: groove;
    border-width: 3px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5);
    -moz-box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5); }
  main .zoom-images {
    display: none; }
  main .text-over-image {
    position: absolute;
    z-index: 0;
    top: 0px;
    color: white;
    background-color: #d8352c;
    padding: 5px; }
  main div#sliding-images {
    width: 100%;
    margin: auto auto;
    z-index: 2; }
    main div#sliding-images div img {
      width: 100%; }
  main .button {
    position: absolute;
    top: 64vw;
    right: 5%;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-weight: bold;
    z-index: 4; }
  main .asset-description {
    background-color: white;
    height: 75px;
    text-overflow: hidden;
    text-align: justify;
    padding: 0 20px 0 20px;
    margin-top: 0;
    z-index: 0;
    /*.marquee {
        top: 10em;
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        animation: marquee 15s linear infinite;
        list-style-type: none;
        font-size: 1.2rem;
        .fa-check{
            color: #0093dd;
        }
    }
    .marquee:hover {
        animation-play-state: paused;
    }
    //make it move
    @keyframes marquee {
        0% {top: 8em}
        100% {top: -11em}
    }
    //make it look pretty
    .marquee-container .marquee {
        margin: 0;
        padding: 0 1em;
        line-height: 1.5em;
        font-style:  'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    }
    .marquee-container:before, .marquee-container::before,
    .marquee-container:after, .marquee-container::after {
        left: 0;
        content: '';
        position: absolute;
        pointer-events: none;
        width: 100%; height: 2em;
        background-image: linear-gradient(top, #fff, rgba(255, 255, 255, 0));
    }
    .marquee-container:after, .marquee-container::after{
        bottom: 0;
        transform: rotate(180deg);
    }
    .marquee-container:before, .marquee-container::before{
        top: 0;
    }*/ }
    main .asset-description .description-list li {
      display: inline;
      box-sizing: border-box;
      list-style-type: none;
      font-size: .7rem; }
      main .asset-description .description-list li .fa-check {
        color: #0093dd; }
  main .portfolio {
    height: 200px;
    z-index: 8;
    background-color: #0093dd;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5);
    -moz-box-shadow: 5px 5px 5px 0 rgba(223, 244, 250, 0.5); }

/*********** FOOTER STYLES **********/
footer {
  width: 100%;
  display: flex;
  background-color: #1f1a17; }
  footer p.copyright-text {
    width: 70%;
    font-size: .65rem;
    color: white;
    margin-left: 10px; }
  footer div.social-icons {
    width: 30%;
    color: #0093dd; }
    footer div.social-icons i {
      float: right;
      margin-right: 10px; }

@media only screen and (min-width: 426px) and (max-width: 549px) {
  /*HEADER*/
  header {
    width: 100%; }
    header figure#logo {
      width: 15%;
      margin-right: 5px; }
      header figure#logo img {
        width: 100%; }
    header nav {
      position: relative;
      width: 65%;
      margin: 25px 0 0 2px;
      background-color: transparent; }
      header nav ul li {
        color: white;
        font-size: 0.75rem;
        float: left; }
      header nav ul li a {
        border: none;
        border-right: 1px solid white;
        padding-top: 7px;
        padding-left: 1px;
        padding-inline-end: 4px;
        height: 30px; }
        header nav ul li a:hover {
          background-color: #d8352c;
          color: rgba(255, 255, 255, 0.952); }
      header nav ul.closed {
        display: inline-block; }
    header figure#userID {
      width: 15%;
      height: 60px;
      margin: 0 auto 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-content: center; }
      header figure#userID img#passport {
        z-index: inherit;
        float: none;
        width: 50%;
        margin: 10px auto 10px auto;
        margin-bottom: 0; }
      header figure#userID #role {
        display: none; }
      header figure#userID #username {
        text-align: center;
        font-size: .6em;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0; }
    header #navicon {
      display: none; }

  main .button {
    top: 62vw; } }
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  /*HEADER*/
  header {
    width: 100%; }
    header figure#logo {
      width: 15%; }
    header nav {
      position: relative;
      width: 65%;
      margin: 25px 0 0 2px;
      background-color: transparent; }
      header nav ul li {
        color: white;
        float: left;
        font-size: 0.8rem; }
      header nav ul li a {
        border: none;
        border-right: 1px solid white;
        padding-top: 7px;
        padding-left: 5px;
        padding-inline-end: 10px;
        height: 30px; }
        header nav ul li a:hover {
          background-color: #0093ddd3;
          color: white; }
      header nav ul.closed {
        display: inline-block; }
    header figure#userID {
      width: 15%; }
      header figure#userID #role {
        font-size: .7em; }
      header figure#userID #username {
        font-size: .7em; }
    header #navicon {
      display: none; }

  main .asset-container {
    display: flex;
    width: 100%; }
  main .zoom-images {
    display: none; }
  main div#sliding-images {
    width: 70%;
    margin: auto auto;
    z-index: 2; }
    main div#sliding-images div img {
      width: 100%; }
  main .button {
    position: absolute;
    top: 40vw;
    right: 35%;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-weight: bold;
    z-index: 4; }
  main .asset-description {
    width: 30%;
    background-color: white;
    padding: 0 20px 0 20px;
    margin-top: 0;
    z-index: 0; }
    main .asset-description .description-list li {
      display: block;
      box-sizing: border-box;
      list-style-type: none;
      font-size: .8rem;
      line-height: 1.5rem;
      text-overflow: hidden; }
      main .asset-description .description-list li .fa-check {
        color: #0093dd; }

  /*********** FOOTER STYLES **********/
  footer {
    width: 100%;
    display: flex;
    background-color: #1f1a17; }
    footer p.copyright-text {
      width: 70%;
      font-size: 1rem;
      color: white; }
    footer div.social-icons {
      width: 30%;
      color: #0093dd; }
      footer div.social-icons i {
        font-size: 1rem;
        float: right;
        margin-right: 10px; } }
@media only screen and (min-width: 1024px) {
  header {
    width: 100%; }
    header nav {
      width: 65%; }
      header nav ul li {
        font-size: 1rem; }
    header figure#userID {
      width: 15%; }
      header figure#userID #role {
        font-size: .7em; }
      header figure#userID #username {
        font-size: .7em; }
    header #navicon {
      display: none; }

  main div#sliding-images {
    width: 75%; }
    main div#sliding-images div img {
      width: 100%; }
  main .button {
    top: 40vw;
    right: 35%; }
  main .asset-description {
    width: 25%; }
    main .asset-description .description-list li {
      font-size: 1rem;
      line-height: 2rem; }
      main .asset-description .description-list li .fa-check {
        color: #0093dd; } }

/*# sourceMappingURL=styles.css.map */
