main{
    figure#sliding-images{
            width: 96%;
            height: 300pxpx;
            img {
                width: 100%;
            }//end img
        figcaption {
            top: 42vw;
            font-size: 2rem;
        }
    }
}