header {
    width: 100%;
    figure#logo{
        width: 10%;
    }
    nav{
        width: 70%;
        ul li{
            float: left;
            font-size: 1rem;
        }//end ul li
    }//end nav

    figure#userID {
        width: 15%;
        
        #role {
            font-size: .7em;
        }//end role of userID
        #username {
            font-size: .7em;
        }//end username of userID
    }//end figure#userID

    #navicon{
        display: none;
    }//end button
}//end header
main{
    .search-box-top {
        position: absolute;
        top: 12px;
        width: 35%;
        right: 12%;
        height: 35px;
        background-color: rgba(255, 255, 255, 0.486);
        padding-top: 0;
        padding-bottom: 0;
        input[type=text]{
            margin-top: 3px;
            border-radius: 10px;
            width: 87%;
            font-size: 20px;
        }//end inputtext
        .fa-search {
            margin-top: 3px;
            width: 10%;
            font-size: 25px;
            margin-left: 5px;
            float: right;
            color: #0093dd;
        }//end search container button    
    }//end search box
    div#sliding-images {
        width: 75%;

        div {
            img {
                width: 100%;
            }//end img
        }//end div
    }//end div#sliding-images
    .button{
        top: 40vw;
        right: 35%;
    }//end button
    .asset-description{
        width: 25%;
        .description-list li{
            font-size: 1rem;
            line-height: 2rem;
            .fa-check{
                color: #0093dd;
            }
        }
    }//end asset description
}//end main

@media only screen and (min-width: 1175px) {
    main{
        .search-box-top {
            width: 40%;
        }
    }
}