/*HEADER*/
header {
    width: 100%;

    figure#logo{
        width: 15%;
        }//end logo

    nav{
        position: relative;
        width: 60%;
        margin: 25px 0 0 2px;
        background-color: transparent;

        ul li{
            color: white;
            float: left;
        }//end ul li

        ul li a{
            border: none;
            border-right: 1px solid white;
            padding-top: 7px;
            padding-left: 5px;
            padding-inline-end: 10px;
            height: 30px;
            &:hover {
                background-color: $secondaryColor;
                color: white;
            }
        }//end ul li a

        ul.closed {
            display: inline-block;
        }//end ul.closed

    }//end nav

    figure#userID {
        width: 20%;
    }//end figure#userID

    #navicon{
        display: none;
    }//end button
}//end header
main{
    div#sliding-images {
        div {
            details {
                top: 30vw;
                font-size: 1.3rem;
            }//end details
        }//end div
    }//end sliding images div

}//end main
